<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.share_study.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.share_study.model.entity.Comment">
        <!--@mbg.generated-->
        <!--@Table share_study.t_comment-->
        <id column="comment_id" jdbcType="BIGINT" property="id"/>
        <result column="comment_resource" jdbcType="BIGINT" property="resource"/>
        <result column="comment_belong" jdbcType="BIGINT" property="belong"/>
        <result column="comment_send" jdbcType="BIGINT" property="send"/>
        <result column="comment_content" jdbcType="VARCHAR" property="content"/>
        <result column="comment_read_status" jdbcType="TINYINT" property="readStatus"/>
        <result column="comment_status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        comment_id,
        comment_resource,
        comment_belong,
        comment_send,
        comment_content,
        comment_read_status,
        comment_status,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>