<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.share_study.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.share_study.model.entity.Resource">
        <!--@mbg.generated-->
        <!--@Table share_study.t_resource-->
        <id column="resource_id" jdbcType="BIGINT" property="id"/>
        <result column="resource_belong" jdbcType="BIGINT" property="belong"/>
        <result column="resource_name" jdbcType="VARCHAR" property="name"/>
        <result column="resource_info" jdbcType="VARCHAR" property="info"/>
        <result column="resource_url" jdbcType="VARCHAR" property="url"/>
        <result column="resource_status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        resource_id,
        resource_belong,
        resource_name,
        resource_info,
        resource_url,
        resource_status,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>