<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.share_study.mapper.TeacherCensorMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.share_study.model.entity.TeacherCensor">
        <!--@mbg.generated-->
        <!--@Table share_study.t_teacher_censor-->
        <id column="censor_id" jdbcType="BIGINT" property="id"/>
        <result column="teacher_account" jdbcType="VARCHAR" property="account"/>
        <result column="teacher_password" jdbcType="VARCHAR" property="password"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="name"/>
        <result column="teacher_avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="teacher_gender" jdbcType="TINYINT" property="gender"/>
        <result column="teacher_belong" jdbcType="BIGINT" property="belong"/>
        <result column="teacher_email" jdbcType="VARCHAR" property="email"/>
        <result column="censor_admin_id" jdbcType="BIGINT" property="censorAdminId"/>
        <result column="censor_admin_name" jdbcType="VARCHAR" property="censorAdminName"/>
        <result column="censor_status" jdbcType="INTEGER" property="status"/>
        <result column="censor_content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        censor_id,
        teacher_account,
        teacher_password,
        teacher_name,
        teacher_avatar,
        teacher_gender,
        teacher_belong,
        teacher_email,
        censor_admin_id,
        censor_admin_name,
        censor_status,
        censor_content,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>